.remove-btn {
 margin-right: 20px; 
}
.fade-enter{
opacity:0.09;
}
.fade-enter-active{
opacity: 1;
transition: opacity 500ms ease-in
}
.fade-exit{
opacity:1;
}
.fade-exit-active{
  opacity: 0.09;
  transition: opacity 1000ms ease-in
}